MarketPublicAPI/src/resources/schemas/search/searchCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by Shekhar (Servicelive) -->
<xs:schema xmlns:c="http://www.servicelive.com/namespaces/searchCommon"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" elementFormDefault="qualified"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc">
	<xs:simpleType name="providerResultTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Minimum" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="Large" />
			<xs:enumeration value="All" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="providerType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="memberSince" type="xs:date" />
			<xs:element name="jobTitle" type="xs:string" minOccurs="0" />
			<xs:element name="imageUrl" type="xs:string" minOccurs="0" />
			<xs:element name="company" type="companyType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="metrics" type="metricsType" minOccurs="0"
				maxOccurs="1" />
			<xs:element ref="reviews" minOccurs="0" maxOccurs="1" />
			<xs:element ref="credentials" minOccurs="0" maxOccurs="1" />
			<xs:element ref="skills" minOccurs="0" maxOccurs="1" />
			<xs:element ref="availability" minOccurs="0" />
			<xs:element ref="languages" minOccurs="0" maxOccurs="1" />
			<xs:element name="zip" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="resourceId" type="xs:nonNegativeInteger" />
		<xs:attribute name="distance" type="xs:decimal" use="optional" />
	</xs:complexType>
	<xs:complexType name="providerLanguageType">
		<xs:sequence>
			<xs:element name="languageName" type="xs:string" />
			<xs:element name="count" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="facetType">
		<xs:sequence>
			<xs:element name="facetName" type="xs:string" minOccurs="0" />
			<xs:element name="startRange" type="xs:string" minOccurs="0" />
			<xs:element name="endRange" type="xs:string" minOccurs="0" />
			<xs:element name="count" type="xs:int" />
		</xs:sequence>
		<xs:attribute name="type" type="facetTypeEnum" />
	</xs:complexType>
	<xs:complexType name="companyType">
		<xs:sequence>
			<xs:element name="yearsInBusiness" type="xs:nonNegativeInteger" />
			<xs:element name="businessStructure" type="xs:string" />
			<xs:element name="size" type="xs:string" />
			<xs:element name="overview" type="xs:string" />
			<xs:element name="overallRating" type="xs:decimal" />
			<xs:element name="numOfSLProjectCompleted" type="xs:nonNegativeInteger" />
			<xs:element name="primaryIndustry" type="xs:string" />
			<xs:element name="policy" type="policyType" />
			<xs:element name="insurances">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="insurance" type="insuranceType"
							minOccurs="0" maxOccurs="50" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="companyId" type="xs:nonNegativeInteger" />
	</xs:complexType>
	<xs:complexType name="policyType">
		<xs:sequence>
			<xs:element name="warrantyLaborMonths" type="xs:int" />
			<xs:element name="warrantyPartsMonths" type="xs:int" />
			<xs:element name="freeEstimates" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="insuranceType">
		<xs:sequence>
			<xs:element name="amount" type="xs:int" />
			<xs:element name="verificationDate" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="verified" type="xs:boolean" use="required" />
		<xs:attribute name="name" type="insuranceTypeEnum" use="required" />
	</xs:complexType>
	<xs:complexType name="metricsType">
		<xs:sequence>
			<xs:element name="closedOrderTotal" type="xs:int" />
			<xs:element name="ratingTotal" type="xs:int" />
			<xs:element name="reviewsTotal" type="xs:int" />
			<xs:element name="avgRating" type="xs:decimal" />
			<xs:element name="avgReviewerRating" type="xs:decimal" />
			<xs:element name="reviewCount" type="xs:int" />
			<xs:element name="avgByKPI" type="avgByKPIType" />
			<xs:element name="credentialTotal" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="avgByKPIType">
		<xs:sequence>
			<xs:element name="cleanliness" type="xs:decimal" />
			<xs:element name="timeliness" type="xs:decimal" />
			<xs:element name="communication" type="xs:decimal" />
			<xs:element name="professionalism" type="xs:decimal" />
			<xs:element name="quality" type="xs:decimal" />
			<xs:element name="value" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reviewType">
		<xs:sequence>
			<xs:element name="rating" type="xs:decimal" />
			<xs:element name="date" type="xs:date" />
			<xs:element name="comment" type="xs:string" />
			<xs:element name="reviewerName" type="xs:string" />
			<xs:element name="id" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="credentialType">
		<xs:sequence>
			<xs:element name="type" type="xs:string" />
			<xs:element name="category" type="xs:string" />
			<xs:element name="source" type="xs:string" />
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="status" type="credentialStatusEnum"
			use="required" />
		<xs:attribute name="credentialType" type="credentialTypeEnum"
			use="required" />
	</xs:complexType>
	<xs:element name="reviews">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reviewsTotal" type="xs:integer" />
				<xs:element name="review" type="reviewType" minOccurs="0"
					maxOccurs="50" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="languages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string" minOccurs="0"
					maxOccurs="50" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="credentials">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="credential" type="credentialType"
					minOccurs="0" maxOccurs="50" />
			</xs:sequence>
			<xs:attribute name="count" type="xs:int" use="optional" />
			<xs:attribute name="companyCount" type="xs:int" use="optional" />
		</xs:complexType>
	</xs:element>
	<!-- <xs:element name="category"> <xs:complexType> <xs:sequence> <xs:element 
		name="skill" type="skillType" minOccurs="0" maxOccurs="unbounded"/> </xs:sequence> 
		<xs:attribute name="root" type="xs:string" use="required"/> </xs:complexType> 
		</xs:element> <xs:complexType name="skillType"> <xs:attribute name="level" 
		type="xs:int" use="required"/> <xs:attribute name="name" type="xs:string"/> 
		<xs:attribute name="types" type="xs:string"/> </xs:complexType> -->
	<xs:element name="skills">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" maxOccurs="50" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skill" minOccurs="0" maxOccurs="50" />
			</xs:sequence>
			<xs:attribute name="root" type="xs:string" use="required" />
			<xs:attribute name="id" type="xs:int" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="skill">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="0" maxOccurs="50" />
				<xs:element ref="skill" minOccurs="0" maxOccurs="50" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="availability">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="monday" />
				<xs:element name="tuesday" />
				<xs:element name="wednesday" />
				<xs:element name="thursday" />
				<xs:element name="friday" />
				<xs:element name="saturday" />
				<xs:element name="sunday" />
				<xs:element name="timezone" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="type">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- Used in response -->
	<xs:simpleType name="responseCodeEnum">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" /> <!-- SUCCESS / Exact Match -->
			<xs:enumeration value="1" /> <!-- Multiple Match Found -->
			<xs:enumeration value="2" /> <!-- Internal Server ERROR -->
			<xs:enumeration value="3" /> <!-- Missing required Param -->
			<xs:enumeration value="4" /> <!--Spelling Mistake or not exact match -->
			<xs:enumeration value="5" /> <!-- Reserved -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="credentialStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="#" /> <!-- Masked Value -->
			<xs:enumeration value="REVIEWED" />
			<xs:enumeration value="PENDING" />
			<xs:enumeration value="VERIFIED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="credentialTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROVIDER" />
			<xs:enumeration value="COMPANY" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="facetTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="#" /> <!-- Masked Value -->
			<xs:enumeration value="PROVIDER_LANGUAGE" />
			<xs:enumeration value="PROVIDER_DISTANCE" />
			<xs:enumeration value="PROVIDER_RATINGS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="insuranceTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="#" /> <!-- Masked Value -->
			<xs:enumeration value="workman" />
			<xs:enumeration value="general" />
			<xs:enumeration value="auto" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skillCategory" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skillCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" minOccurs="0"/>
				<xs:element name="name" type="xs:string" minOccurs="0" />
				<xs:element name="parentId" type="xs:int" minOccurs="0" />
				<xs:element name="subCategoryId" type="xs:int" minOccurs="0" />
				<xs:element name="subCategoryName" type="xs:string" minOccurs="0" />
				<xs:element name="categoryId" type="xs:int" minOccurs="0" />
				<xs:element name="categoryName" type="xs:string" minOccurs="0" />				
				<xs:element name="mainCategoryId" type="xs:int" minOccurs="0" />
				<xs:element name="mainCategoryName" type="xs:string" minOccurs="0" />
				<xs:element name="type" type="xs:string" minOccurs="0"/>
				<xs:element name="parentName" type="xs:string" minOccurs="0" /> 
				<xs:element name="level" type="xs:int" minOccurs="0" />
				<xs:element name="score" type="xs:string" minOccurs="0" />
				<xs:element ref="skuList" minOccurs="0" />
				<xs:element name="providerCount" type="xs:int" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skuList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skuId" type="xs:int" minOccurs="0" />
				<xs:element name="skuName" type="xs:string" minOccurs="0" />
				<xs:element name="skuDescription" type="xs:string"
					minOccurs="0" />
				<xs:element name="template" type="xs:string" minOccurs="0" />
				<xs:element name="orderType" type="xs:string" minOccurs="0" />
				<xs:element name="retailPrice" type="xs:double"
					minOccurs="0" />
				<xs:element name="margin" type="xs:double" minOccurs="0" />
				<xs:element name="maximumPrice" type="xs:double"
					minOccurs="0" />
				<xs:element name="billingMargin" type="xs:double"
					minOccurs="0" />
				<xs:element name="billingPrice" type="xs:double"
					minOccurs="0" />
				<xs:element ref="tasks" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="taskName" type="xs:string" minOccurs="0" />
				<xs:element name="serviceType" type="xs:string"
					minOccurs="0" />
				<xs:element name="taskComment" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
