MarketPublicAPI/src/resources/schemas/ums/buyerAccountResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.servicelive.com/namespaces/ums" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.servicelive.com/namespaces/ums" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		elementFormDefault="qualified">
  <xs:include schemaLocation="../common.xsd"/>
  <xs:element name="createBuyerAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="results"/>
        <xs:element name="buyerId" type="xs:integer" minOccurs="0"/>
        <xs:element name="buyerResourceId" type="xs:integer" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>