MarketPublicAPI/src/resources/schemas/ums/loginRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../common.xsd"/>
  <xs:element name="authenticationRequest"> 	  
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="login" type="loginType"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>	
   	<xs:complexType name="loginType">
			<xs:sequence>			    	
				<xs:element name="userName" type="xs:string"/>
       			<xs:element name="password" type="xs:string"/>
       		</xs:sequence>		
       			<xs:attribute name="type" type="xs:string" default="0"/>		
	</xs:complexType>				
</xs:schema>
	