MarketPublicAPI/src/resources/schemas/so/v1_5/soRetrieveResponseV_1_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.servicelive.com/namespaces/soResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" targetNamespace="http://www.servicelive.com/namespaces/soResponse" elementFormDefault="qualified" jaxb:version="1.0" jaxb:extensionBindingPrefixes="xjc">
	<xs:include schemaLocation="../../common.xsd"/>
	<xs:include schemaLocation="../soCommon.xsd"/>
	<xs:element name="soResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="results"/>
				<xs:element name="serviceorders" type="serviceorders" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="serviceorders">
	<xs:sequence>
		<xs:element name="serviceorder" type="serviceorder" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="serviceorder">
	<xs:sequence>
		<xs:element ref="results"/>
		<xs:element name="orderstatus" type="soStatus" minOccurs="0"/>
		<xs:element name="sectionGeneral" type="soSectionGeneralType" minOccurs="0"/>
		<xs:element name="scopeOfWork" type="soSectionSOWType" minOccurs="0"/>
		<xs:element name="serviceLocation" type="LocationType" minOccurs="0"/>
		<xs:element name="schedule" type="ScheduleType" minOccurs="0"/>
		<xs:element name="scheduleServiceSlot" type="ScheduleServiceSlotType" minOccurs="0"/>
		<xs:element name="pricing" type="SOPricingType" minOccurs="0"/>
		<xs:element name="contacts" type="ContactsType" minOccurs="0"/>
		<xs:element name="attachments" type="AttachmentType" minOccurs="0"/>
		<xs:element name="parts" type="PartsType" minOccurs="0"/>
		<xs:element name="customReferences" type="CustomReferencesType" minOccurs="0"/>
		<xs:element name="notes" type="NotesType" minOccurs="0"/>
		<xs:element name="history" type="SOHistoryType" minOccurs="0"/>
		<xs:element name="routedProviders" type="RoutedProvidersType" minOccurs="0"/>
		<xs:element name="acceptedProviderFirmContact" type="ProviderFirmContactType" minOccurs="0"/>
		<xs:element name="estimateFlag" type="xs:boolean" minOccurs="0"/>
		<xs:element name="estimates" type="EstimatesType" minOccurs="0"/>
		<xs:element name="review" type="reviewType" minOccurs="0"/>
		<xs:element name="addons" type="addOns" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EstimatesType">
		<xs:sequence>
			<xs:element name="estimate" type="EstimateType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstimateType">
		<xs:sequence>
				<xs:element name="estimationId" type="xs:integer"/>
				<xs:element name="estimationRefNo" type="xs:string"/>
				<xs:element name="estimateDate" type="xs:dateTime"/>
				<xs:element name="firmDetails" type="estimateFirmDetailsType" minOccurs="0"/>
				<xs:element name="providerDetails" type="estimateproviderDetailsType" minOccurs="0"/>
				<!-- <xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="acceptSource" type="xs:string" minOccurs="0"/>
				<xs:element name="tripCharge" type="moneyCounterOffer" minOccurs="0"/> -->
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="responseDate" type="xs:string" minOccurs="0"/>
				<!-- <xs:element name="respondedCustomerName" type="xs:string" minOccurs="0"/>
				<xs:element name="responseDate" type="xs:dateTime" minOccurs="0"/> -->
				<xs:element ref="estimateDetails" minOccurs="0" />
				<xs:element name="pricing" type ="pricingType" minOccurs="0"/>
				<xs:element name="comments" type="xs:string" minOccurs="0"/>
				<xs:element name="logoDocumentId" type="xs:integer" minOccurs="0"/>
				<xs:element name="estimationExpiryDate" type="xs:dateTime" minOccurs="0"/>				
				<xs:element name="estimateHistoryDetails" type ="estimateHistoryDetailsType" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:element name="estimateDetails">
		<xs:complexType>
			<xs:sequence>
			<xs:element ref="laborTasks" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="parts" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="otherServices" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="laborTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="labortask" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="labortask">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="itemId" type="xs:integer" minOccurs="0"/>
			    <xs:element name="taskSeqNo" type="xs:integer" minOccurs="0"/>
			    <xs:element name="taskName" type="xs:string"  minOccurs="0"/>
			    <xs:element name="description" type="xs:string" minOccurs="0"/>
			    <xs:element name="unitPrice" type= "xs:string" minOccurs="0"/>
			    <xs:element name="quantity" type="xs:integer" minOccurs="0"/>
			    <xs:element name="totalPrice" type="xs:string" minOccurs="0"/>
			    <xs:element name="additionalDetails"  type="xs:string" minOccurs="0"/>
			    <xs:element name="action" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="itemId" type="xs:integer" minOccurs="0"/>			
			    <xs:element name="partSeqNo" type="xs:integer" minOccurs="0"/>
			    <xs:element name="partNo" type="xs:string"  minOccurs="0"/>
			    <xs:element name="partName" type="xs:string"  minOccurs="0"/>
			    <xs:element name="description" type="xs:string"  minOccurs="0"/>
			    <xs:element name="unitPrice" type= "xs:string" minOccurs="0" />
			    <xs:element name="quantity" type="xs:integer" minOccurs="0"/>
			    <xs:element name="totalPrice" type="xs:string" minOccurs="0"/>
			    <xs:element name="additionalDetails" type="xs:string"  minOccurs="0"/>
			    <xs:element name="action" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="otherServices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="otherService" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="otherService">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="itemId" type="xs:integer" minOccurs="0"/>			
			    <xs:element name="otherServiceSeqNumber" type="xs:integer" minOccurs="0"/>
			    <xs:element name="otherServiceType" type="xs:string" minOccurs="0"/>
			    <xs:element name="otherServiceName" type="xs:string" minOccurs="0"/>
			    <xs:element name="description" type="xs:string" minOccurs="0"/>
			    <xs:element name="unitPrice" type= "xs:string" minOccurs="0" />
			    <xs:element name="quantity" type="xs:integer" minOccurs="0"/>
			    <xs:element name="totalPrice" type="xs:string" minOccurs="0"/>
			    <xs:element name="additionalDetails" type="xs:string" minOccurs="0"/>
			    <xs:element name="action" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="pricingType">
		<xs:sequence>
			<xs:element name="totalLaborPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="totalPartsPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="totalOtherServicePrice" type="xs:string" minOccurs="0"/>
			<xs:element name="subTotal" type="xs:string" minOccurs="0"/>
			<xs:element name="discountType" type="xs:string"  minOccurs="0"/>
			<xs:element name="discountedPercentage" type="xs:string" minOccurs="0"/>
			<xs:element name="discountedAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="taxRate" type="xs:string" minOccurs="0"/>
			<xs:element name="taxType" type="xs:string"  minOccurs="0" />
			<xs:element name="taxPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="totalPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="laborDiscountType" type="xs:string" minOccurs="0"/>
			<xs:element name="laborDiscountedPercentage" type="xs:string" minOccurs="0"/>
			<xs:element name="laborDiscountedAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="laborTaxRate" type="xs:string" minOccurs="0"/>
			<xs:element name="laborTaxPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="partsDiscountType" type="xs:string" minOccurs="0"/>
			<xs:element name="partsDiscountedPercentage" type="xs:string" minOccurs="0"/>
			<xs:element name="partsDiscountedAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="partsTaxRate" type="xs:string" minOccurs="0"/>
			<xs:element name="partsTaxPrice" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="estimateFirmDetailsType">
		<xs:sequence>
			<xs:element name="vendorId" type="xs:integer" minOccurs="0"/>
			<xs:element name="location" type="estimateLocation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="estimateproviderDetailsType">
		<xs:sequence>
			<xs:element name="resourceId" type="xs:integer" minOccurs="0"/>
			<xs:element name="location" type="estimateLocation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="estimateLocation">
		<xs:sequence>
			<xs:element name="address1" type="xs:string" minOccurs="0"/>
			<xs:element name="address2" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="zip" type="xs:string" minOccurs="0"/>
			<xs:element name="zip4" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	    <xs:complexType name="reviewType">
		<xs:sequence>
			<xs:element name="cleanliness" type="xs:integer" minOccurs="0"/>
			<xs:element name="timeliness" type="xs:integer" minOccurs="0"/>
			<xs:element name="communication" type="xs:integer" minOccurs="0"/>
			<xs:element name="professionalism" type="xs:integer" minOccurs="0"/>
			<xs:element name="quality" type="xs:integer" minOccurs="0"/>
			<xs:element name="value" type="xs:integer" minOccurs="0"/>
			<xs:element name="overallRating" type="xs:decimal" minOccurs="0"/>
			<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="estimateHistoryDetailsType">
		<xs:sequence>
				<xs:element ref="estimateHistory" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
	</xs:complexType>
	
	<xs:element name="estimateHistory">
	<xs:complexType>
		<xs:sequence>
				<xs:element name="estimationHistoryId" type="xs:integer"/>
				<xs:element name="estimationId" type="xs:integer"/>
				<xs:element name="estimationRefNo" type="xs:string"/>
				<xs:element name="estimateDate" type="xs:dateTime"/>
				<xs:element name="firmDetails" type="estimateFirmDetailsType" minOccurs="0"/>
				<xs:element name="providerDetails" type="estimateproviderDetailsType" minOccurs="0"/>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="responseDate" type="xs:string" minOccurs="0"/>
				<xs:element name="pricing" type ="pricingType" minOccurs="0"/>
				<xs:element name="comments" type="xs:string" minOccurs="0"/>
				<xs:element name="logoDocumentId" type="xs:integer" minOccurs="0"/>
				<xs:element name="estimationExpiryDate" type="xs:dateTime" minOccurs="0"/>								
				<xs:element name="action" type="xs:string" minOccurs="0"/>
				<xs:element ref="estimateItemsHistory" minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	
	<xs:element name="estimateItemsHistory">
		<xs:complexType>
			<xs:sequence>
			<xs:element ref="laborTasks" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="parts" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="otherServices" minOccurs="0" maxOccurs="unbounded" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 
