MarketPublicMobileAPI/src/resources/schemas/mobile/v2_0/updateMobileAppVersionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

  <xs:element name="updateMobileAppVersionRequest">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="username" type="xs:string" minOccurs="0"/>
      		<xs:element name="deviceOS" type="xs:string" minOccurs="1"/>
      		<xs:element name="baseAppVersion" type="xs:string" minOccurs="1"/>
      		<xs:element name="latestAppVersion" type="xs:string" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>