MarketPublicMobileAPI/src/resources/schemas/mobile/v3_0/rescheduleRespondRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

  <xs:element name="rescheduleRespondRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="responseType" type="responseTypeEnum"/>      		          
          </xs:sequence>
      </xs:complexType>
  </xs:element>	
	<xs:simpleType name="responseTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cancel" />
			<xs:enumeration value="Reject" />
			<xs:enumeration value="Accept" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
	