MarketPublicMobileAPI/src/resources/schemas/mobile/v3_1/mobileReleaseSORequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="mobileReleaseSORequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reason" type="xs:string" minOccurs="1" />
				<xs:element name="comments" type="commentType" minOccurs="0"/>
				<xs:element name="releaseByFirmInd" minOccurs="0" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="commentType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="750"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>