MarketPublicMobileAPI/src/resources/schemas/mobile/v3_1/resolveProblemOnSORequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

  <xs:element name="resolveProblemOnSORequest">
      <xs:complexType>
          <xs:sequence>
               <xs:element name="resolutionComments" type="nonEmptyString"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
    <xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="750"/>
		</xs:restriction>
	</xs:simpleType>	
</xs:schema>
	