MarketPublicMobileAPI/src/resources/schemas/mobile/v3_1/updateTimeWindowRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="soUpdateTimeWindowRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="startTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="endTime" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="eta" type="xs:string" minOccurs="0"/>
				<xs:element name="customerConfirmedInd" type="xs:boolean"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


