MarketProviderAPI/src/resources/schemas/provider/v3_0/providerTimeOnSiteResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../common.xsd" />
	<!-- Root element -->
	<xs:element name="soTimeOnSiteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="soId" type="xs:string" />
				<xs:element name="tripNo" type="xs:int" minOccurs="0" /> <!-- Available only for arrival --> 
				<xs:element ref="results" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>