MarketWebServicesClient/wsdl/ServiceOrderSEI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviceorder.sei.webservices.marketplace.newco.com" xmlns:tns="http://serviceorder.sei.webservices.marketplace.newco.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://serviceorder.dto.webservices.marketplace.newco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns2="http://response.webservices.marketplace.newco.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serviceorder.dto.webservices.marketplace.newco.com">
<xsd:complexType name="ClientServiceOrderNoteRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="note" nillable="true" type="xsd:string"/>
<xsd:element name="orderIDString" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="subject" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="roleId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="createdBy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noteType" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ClientServiceOrderNoteResponse">

<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateDraftRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="addons" nillable="true" type="ns1:ArrayOfSpecialtyAddonRequest"/>
<xsd:element minOccurs="0" name="appointmentEndDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="appointmentEndTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="appointmentStartDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="appointmentStartTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="autoRoute" nillable="true" type="xsd:boolean"/>

<xsd:element minOccurs="0" name="buyerContactId" nillable="true" type="xsd:int"/>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="buyerSupportContact" nillable="true" type="ns1:ContactRequest"/>
<xsd:element minOccurs="0" name="buyerSupportLocation" nillable="true" type="ns1:LocationRequest"/>
<xsd:element minOccurs="0" name="buyerTermsCond" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="confirmServiceTime" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="customRef" nillable="true" type="ns1:ArrayOfCustomRef"/>
<xsd:element minOccurs="0" name="documents" nillable="true" type="ns1:ArrayOfDocument"/>
<xsd:element minOccurs="0" name="endUserContact" nillable="true" type="ns1:ContactRequest"/>
<xsd:element minOccurs="0" name="locTypeInd" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="notes" nillable="true" type="ns1:ArrayOfNoteRequest"/>
<xsd:element minOccurs="0" name="orderNumber" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="parts" nillable="true" type="ns1:ArrayOfCreatePartRequest"/>
<xsd:element minOccurs="0" name="partsSuppliedBy" nillable="true" type="xsd:int"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="pricingTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="primarySkillCatId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="providerInstructions" nillable="true" type="xsd:string"/>
<xsd:element name="retailCancellationFee" type="xsd:double"/>
<xsd:element name="retailPrice" type="xsd:double"/>
<xsd:element minOccurs="0" name="scheduledDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="serviceContact" nillable="true" type="ns1:ContactRequest"/>
<xsd:element minOccurs="0" name="serviceContactAlt" nillable="true" type="ns1:ContactRequest"/>
<xsd:element minOccurs="0" name="serviceDateTypeId" nillable="true" type="xsd:int"/>
<xsd:element name="serviceLocation" type="ns1:LocationRequest"/>
<xsd:element minOccurs="0" name="sowDs" nillable="true" type="xsd:string"/>
<xsd:element name="sowTitle" type="xsd:string"/>
<xsd:element minOccurs="0" name="spendLimitLabor" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="spendLimitParts" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="tasks" nillable="true" type="ns1:ArrayOfCreateTaskRequest"/>
<xsd:element minOccurs="0" name="templateName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="unitNumber" nillable="true" type="xsd:string"/>

<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LocationRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="aptNo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="comparableString" nillable="true" type="xsd:anyType"/>
<xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="defaultLocn" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="latitude" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="locName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="locnClassDesc" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="locnClassId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="locnId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="locnName" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="locnNotes" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="locnTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="longitude" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedBy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="soId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="street1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="street2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeZone" nillable="true" type="xsd:string"/>
<xsd:element name="zip" type="xsd:string"/>
<xsd:element minOccurs="0" name="zip4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDocument">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" nillable="true" type="ns1:Document"/>

</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Document">
<xsd:sequence>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCreateTaskRequest">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CreateTaskRequest" nillable="true" type="ns1:CreateTaskRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateTaskRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="jobCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="laborPrice" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="partsSuppliedId" nillable="true" type="xsd:int"/>

<xsd:element minOccurs="0" name="serviceTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="serviceTypeTempleteId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="skillNodeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="subCategoryNodeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="taskComments" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="taskName" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCustomRef">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomRef" nillable="true" type="ns1:CustomRef"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomRef">
<xsd:sequence>
<xsd:element minOccurs="0" name="key" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>

</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCreatePartRequest">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CreatePartRequest" nillable="true" type="ns1:CreatePartRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreatePartRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="height" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="length" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="manufacturer" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modelNumber" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="otherReturnCarrier" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="otherShippingCarrier" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="partDesc" nillable="true" type="xsd:string"/>
<xsd:element name="partId" type="xsd:int"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pickupContact" nillable="true" type="ns1:ContactRequest"/>
<xsd:element minOccurs="0" name="pickupLocation" nillable="true" type="ns1:LocationRequest"/>
<xsd:element minOccurs="0" name="quantity" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="referencePartId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="returnCarrierId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="returnTrackingNo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="shipDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="shippingCarrierId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="shippingTrackingNo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="soId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="standard" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
<xsd:element minOccurs="0" name="weight" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="width" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="businessName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="contactGroup" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="contactId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="contactMethodId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="contactTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="emailPreference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="entityId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="entityTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="honorific" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mi" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedBy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="phoneCreatedDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="phoneTypeId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="phones" nillable="true" type="ns1:ArrayOfPhoneRequest"/>
<xsd:element minOccurs="0" name="smsPreference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="soId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="suffix" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfPhoneRequest">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PhoneRequest" nillable="true" type="ns1:PhoneRequest"/>
</xsd:sequence>

</xsd:complexType>
<xsd:complexType name="PhoneRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="classId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="modifiedBy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="phoneExt" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phoneNo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phoneType" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="primaryContactInd" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="soContactId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="soContactPhoneId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="soId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfSpecialtyAddonRequest">

<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SpecialtyAddonRequest" nillable="true" type="ns1:SpecialtyAddonRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpecialtyAddonRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="coverage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="margin" type="xsd:double"/>
<xsd:element minOccurs="0" name="miscInd" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="quantity" type="xsd:int"/>
<xsd:element minOccurs="0" name="retailPrice" type="xsd:double"/>
<xsd:element minOccurs="0" name="scopeOfWork" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="sku" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfNoteRequest">

<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NoteRequest" nillable="true" type="ns1:NoteRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NoteRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="note" nillable="true" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="subject" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateDraftResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="autoRoute" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="orderUpdate" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="tasks" nillable="true" type="ns1:ArrayOfCreateTaskReponse"/>
<xsd:element minOccurs="0" name="templateName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCreateTaskReponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CreateTaskReponse" nillable="true" type="ns1:CreateTaskReponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateTaskReponse">

<xsd:sequence>
<xsd:element minOccurs="0" name="jobCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="laborPrice" nillable="true" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EventRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element name="eventReasonCode" type="xsd:long"/>
<xsd:element name="eventTypeID" type="xsd:long"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element name="resourceID" type="xsd:string"/>
<xsd:element name="serviceOrderID" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RouteRequest">
<xsd:sequence>
<xsd:element name="backgroundCheck" type="xsd:int"/>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="credentialCatagoryId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="credentialID" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="credentialTypeId" nillable="true" type="xsd:int"/>
<xsd:element name="distance" type="xsd:int"/>
<xsd:element minOccurs="0" name="languageList" nillable="true" type="tns:ArrayOfInt"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="rating" nillable="true" type="xsd:double"/>
<xsd:element name="serviceOrderId" type="xsd:string"/>
<xsd:element minOccurs="0" name="templateName" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RouteResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="hasError" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="orderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateIncidentTrackingRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>

<xsd:element minOccurs="0" name="clientIncidentid" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="incidentAckId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="incidentId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="incidentStatus" nillable="true" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateIncidentTrackingResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>

</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreatePartsRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="parts" nillable="true" type="ns1:ArrayOfCreatePartRequest"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdatePartsResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="responses" nillable="true" type="ns1:ArrayOfUpdatePartResponse"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfUpdatePartResponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="UpdatePartResponse" nillable="true" type="ns1:UpdatePartResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdatePartResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CloseServiceOrderRequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="finalLaborPrice" type="xsd:double"/>
<xsd:element minOccurs="0" name="finalPartsPrice" type="xsd:double"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceOrderID" nillable="true" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceOrderResponse">
<xsd:sequence>

<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CancelSORequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="buyerName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="cancelAmt" type="xsd:double"/>
<xsd:element minOccurs="0" name="cancelComment" nillable="true" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceOrderID" nillable="true" type="xsd:string"/>

<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CancelSOResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="hasError" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="orderStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="penalityAmount" type="xsd:double"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetServiceOrderResponse">

<xsd:sequence>
<xsd:element minOccurs="0" name="orderStatus" nillable="true" type="ns1:OrderStatus"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OrderStatus">
<xsd:sequence>
<xsd:element minOccurs="0" name="activeDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="closedDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="completedDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="postedDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="soId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AddDocumentsRequest">
<xsd:sequence>

<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="documents" nillable="true" type="ns1:ArrayOfDocument"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element name="serviceOrderID" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AddDocumentsResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>

</xsd:complexType>
<xsd:complexType name="RescheduleSORequest">
<xsd:sequence>
<xsd:element name="buyerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="newDateEnd" nillable="true" type="xsd:string"/>
<xsd:element name="newDateStart" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="newTimeEnd" nillable="true" type="xsd:string"/>
<xsd:element name="newTimeStart" nillable="true" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element name="serviceOrderID" type="xsd:string"/>
<xsd:element name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RescheduleSOResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>

<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetSOStatusRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="buyerId" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="uniqueCustomReferenceValue" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="passwordFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="userId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetSOStatusResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="SLServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientServiceOrderId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="SLServiceOrderStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
<xsd:element minOccurs="0" name="processCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="processStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="warningList" nillable="true" type="ns2:ArrayOfWSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serviceorder.sei.webservices.marketplace.newco.com">
<xsd:element name="addClientServiceOrderNote">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:ClientServiceOrderNoteRequest"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="addClientServiceOrderNoteResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ClientServiceOrderNoteResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createDraft">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CreateDraftRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createDraftResponse">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:CreateDraftResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:EventRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfInt">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="int" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="routeServiceOrder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:RouteRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="routeServiceOrderResponse">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:RouteResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateIncidentTrackingWithAck">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:UpdateIncidentTrackingRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateIncidentTrackingWithAckResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:UpdateIncidentTrackingResponse"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="updateParts">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CreatePartsRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updatePartsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:UpdatePartsResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="closeServiceOrder">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CloseServiceOrderRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="closeServiceOrderResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ServiceOrderResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updatePart">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CreatePartRequest"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updatePartResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:UpdatePartResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ping">
<xsd:complexType/>
</xsd:element>
<xsd:element name="pingResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelSO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CancelSORequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelSOResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:CancelSOResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getServiceOrder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServiceOrderResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:GetServiceOrderResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertEventString">
<xsd:complexType>
<xsd:sequence>

<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertEventStringResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSODocuments">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:AddDocumentsRequest"/>
</xsd:sequence>
</xsd:complexType>

</xsd:element>
<xsd:element name="addSODocumentsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:AddDocumentsResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="validateServiceOrders">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfString">

<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="validateServiceOrdersResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="rescheduleSO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:RescheduleSORequest"/>
</xsd:sequence>
</xsd:complexType>

</xsd:element>
<xsd:element name="rescheduleSOResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:RescheduleSOResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="validateAServiceOrder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="validateAServiceOrderResponse">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="validateServiceOrdersString">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="validateServiceOrdersStringResponse">
<xsd:complexType>
<xsd:sequence>

<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getSOStatus">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:GetSOStatusRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getSOStatusResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:GetSOStatusResponse"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="addSONote">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSONoteResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.webservices.marketplace.newco.com">
<xsd:complexType name="ArrayOfWSErrorInfo">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSErrorInfo" nillable="true" type="ns2:WSErrorInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WSErrorInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateIncidentTrackingWithAckResponse">
    <wsdl:part name="parameters" element="tns:updateIncidentTrackingWithAckResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateAServiceOrderRequest">
    <wsdl:part name="parameters" element="tns:validateAServiceOrder">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="updatePartResponse">
    <wsdl:part name="parameters" element="tns:updatePartResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceOrderRequest">
    <wsdl:part name="parameters" element="tns:getServiceOrder">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="createDraftResponse">
    <wsdl:part name="parameters" element="tns:createDraftResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePartRequest">
    <wsdl:part name="parameters" element="tns:updatePart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSORequest">

    <wsdl:part name="parameters" element="tns:cancelSO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addClientServiceOrderNoteResponse">
    <wsdl:part name="parameters" element="tns:addClientServiceOrderNoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rescheduleSOResponse">
    <wsdl:part name="parameters" element="tns:rescheduleSOResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEventResponse">
    <wsdl:part name="parameters" element="tns:insertEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSOResponse">
    <wsdl:part name="parameters" element="tns:cancelSOResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getServiceOrderResponse">
    <wsdl:part name="parameters" element="tns:getServiceOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSOStatusRequest">
 	<wsdl:part name="parameters" element="tns:getSOStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSOStatusResponse">
 	<wsdl:part name="parameters" element="tns:getSOStatusResponse">
    </wsdl:part>
  </wsdl:message>
    <wsdl:message name="addSONoteRequest">
 	<wsdl:part name="parameters" element="tns:addSONote">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSONoteResponse">
 	<wsdl:part name="parameters" element="tns:addSONoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEventRequest">
    <wsdl:part name="parameters" element="tns:insertEvent">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="createDraftRequest">
    <wsdl:part name="parameters" element="tns:createDraft">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateIncidentTrackingWithAckRequest">
    <wsdl:part name="parameters" element="tns:updateIncidentTrackingWithAck">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">

    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEventStringRequest">
    <wsdl:part name="parameters" element="tns:insertEventString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateServiceOrdersRequest">
    <wsdl:part name="parameters" element="tns:validateServiceOrders">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addClientServiceOrderNoteRequest">
    <wsdl:part name="parameters" element="tns:addClientServiceOrderNote">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="routeServiceOrderRequest">
    <wsdl:part name="parameters" element="tns:routeServiceOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeServiceOrderResponse">
    <wsdl:part name="parameters" element="tns:closeServiceOrderResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="closeServiceOrderRequest">
    <wsdl:part name="parameters" element="tns:closeServiceOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEventStringResponse">
    <wsdl:part name="parameters" element="tns:insertEventStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePartsRequest">

    <wsdl:part name="parameters" element="tns:updateParts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateServiceOrdersStringRequest">
    <wsdl:part name="parameters" element="tns:validateServiceOrdersString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateServiceOrdersStringResponse">
    <wsdl:part name="parameters" element="tns:validateServiceOrdersStringResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rescheduleSORequest">
    <wsdl:part name="parameters" element="tns:rescheduleSO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSODocumentsResponse">
    <wsdl:part name="parameters" element="tns:addSODocumentsResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="updatePartsResponse">
    <wsdl:part name="parameters" element="tns:updatePartsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeServiceOrderResponse">
    <wsdl:part name="parameters" element="tns:routeServiceOrderResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="addSODocumentsRequest">
    <wsdl:part name="parameters" element="tns:addSODocuments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateServiceOrdersResponse">
    <wsdl:part name="parameters" element="tns:validateServiceOrdersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateAServiceOrderResponse">

    <wsdl:part name="parameters" element="tns:validateAServiceOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceOrderSEIPortType">
    <wsdl:operation name="addClientServiceOrderNote">
      <wsdl:input name="addClientServiceOrderNoteRequest" message="tns:addClientServiceOrderNoteRequest">
    </wsdl:input>
      <wsdl:output name="addClientServiceOrderNoteResponse" message="tns:addClientServiceOrderNoteResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="createDraft">
      <wsdl:input name="createDraftRequest" message="tns:createDraftRequest">
    </wsdl:input>
      <wsdl:output name="createDraftResponse" message="tns:createDraftResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEvent">
      <wsdl:input name="insertEventRequest" message="tns:insertEventRequest">

    </wsdl:input>
      <wsdl:output name="insertEventResponse" message="tns:insertEventResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="routeServiceOrder">
      <wsdl:input name="routeServiceOrderRequest" message="tns:routeServiceOrderRequest">
    </wsdl:input>
      <wsdl:output name="routeServiceOrderResponse" message="tns:routeServiceOrderResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="updateIncidentTrackingWithAck">
      <wsdl:input name="updateIncidentTrackingWithAckRequest" message="tns:updateIncidentTrackingWithAckRequest">
    </wsdl:input>
      <wsdl:output name="updateIncidentTrackingWithAckResponse" message="tns:updateIncidentTrackingWithAckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateParts">
      <wsdl:input name="updatePartsRequest" message="tns:updatePartsRequest">

    </wsdl:input>
      <wsdl:output name="updatePartsResponse" message="tns:updatePartsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeServiceOrder">
      <wsdl:input name="closeServiceOrderRequest" message="tns:closeServiceOrderRequest">
    </wsdl:input>
      <wsdl:output name="closeServiceOrderResponse" message="tns:closeServiceOrderResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="updatePart">
      <wsdl:input name="updatePartRequest" message="tns:updatePartRequest">
    </wsdl:input>
      <wsdl:output name="updatePartResponse" message="tns:updatePartResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">

    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSO">
      <wsdl:input name="cancelSORequest" message="tns:cancelSORequest">
    </wsdl:input>
      <wsdl:output name="cancelSOResponse" message="tns:cancelSOResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getServiceOrder">
      <wsdl:input name="getServiceOrderRequest" message="tns:getServiceOrderRequest">
    </wsdl:input>
      <wsdl:output name="getServiceOrderResponse" message="tns:getServiceOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEventString">
      <wsdl:input name="insertEventStringRequest" message="tns:insertEventStringRequest">

    </wsdl:input>
      <wsdl:output name="insertEventStringResponse" message="tns:insertEventStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSODocuments">
      <wsdl:input name="addSODocumentsRequest" message="tns:addSODocumentsRequest">
    </wsdl:input>
      <wsdl:output name="addSODocumentsResponse" message="tns:addSODocumentsResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="validateServiceOrders">
      <wsdl:input name="validateServiceOrdersRequest" message="tns:validateServiceOrdersRequest">
    </wsdl:input>
      <wsdl:output name="validateServiceOrdersResponse" message="tns:validateServiceOrdersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rescheduleSO">
      <wsdl:input name="rescheduleSORequest" message="tns:rescheduleSORequest">

    </wsdl:input>
      <wsdl:output name="rescheduleSOResponse" message="tns:rescheduleSOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateAServiceOrder">
      <wsdl:input name="validateAServiceOrderRequest" message="tns:validateAServiceOrderRequest">
    </wsdl:input>
      <wsdl:output name="validateAServiceOrderResponse" message="tns:validateAServiceOrderResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="validateServiceOrdersString">
      <wsdl:input name="validateServiceOrdersStringRequest" message="tns:validateServiceOrdersStringRequest">
    </wsdl:input>
      <wsdl:output name="validateServiceOrdersStringResponse" message="tns:validateServiceOrdersStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOStatus">
     <wsdl:input name="getSOStatusRequest" message="tns:getSOStatusRequest">
     </wsdl:input>
     <wsdl:output name="getSOStatusResponse" message="tns:getSOStatusResponse">
     </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceOrderSEIHttpBinding" type="tns:ServiceOrderSEIPortType">

    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addClientServiceOrderNote">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addClientServiceOrderNoteRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addClientServiceOrderNoteResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="createDraft">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createDraftRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createDraftResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="insertEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="insertEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="routeServiceOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="routeServiceOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="routeServiceOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="updateIncidentTrackingWithAck">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateIncidentTrackingWithAckRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateIncidentTrackingWithAckResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="updateParts">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updatePartsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePartsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="closeServiceOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="closeServiceOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeServiceOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="updatePart">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updatePartRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePartResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="pingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="cancelSO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="cancelSORequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelSOResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getServiceOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getServiceOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="insertEventString">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="insertEventStringRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertEventStringResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="addSODocuments">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addSODocumentsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSODocumentsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="validateServiceOrders">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateServiceOrdersRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateServiceOrdersResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="rescheduleSO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="rescheduleSORequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescheduleSOResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="validateAServiceOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateAServiceOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAServiceOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="validateServiceOrdersString">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateServiceOrdersStringRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateServiceOrdersStringResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getSOStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSOStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOrderSEI">
    <wsdl:port name="ServiceOrderSEIHttpPort" binding="tns:ServiceOrderSEIHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/marketws/services/ServiceOrderSEI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
